header
{  background-color: #f72585; 
  padding: 1.0em;
  border: 0.2em solid #ffe5ec;
  font-family: Georgia, serif; 
  font-size: 3.5em;
  color: #ffe5ec;
  text-align: center;}
section {width: 65%}
aside {
  width: 28%;
  padding-left: 30px;
  margin-left: 0px;
  padding-right: 20px;
  margin-right: 2px;
  float: right;
}
footer
{background-color: #f72585; 
  padding: 0.3em;
  border: 0.2em solid #ffe5ec;
  font-family: Georgia, serif; 
  font-size: 1.2em;
  color: #ffe5ec;
  text-align: center;
  margin-top: 40px
}
h3 {font-size:1.1em}
h2 {font-family: Georgia, serif;
font-size:1.2em; color:#f72585}
h4{font-size: 1.0em; color:#f72585 }
body{margin-right:20px; margin-left:20px; font-family: Georgia, serif; font-size: 0.9em; margin-bottom: 20px; line-height:20px}
